.dialog{
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: #d4d0d46c;
}

.popup{
    position: absolute;
    width: 30%;
    
    margin-top: 20vh;
   padding-bottom: 20px;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #506485;

}
a{
    text-decoration: none;
    color: aliceblue;
}
.popup span
{
    display: block;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 10px;
}

.popup span > input{ width: 100%;border-radius: 5px; box-decoration-break: unset;border: unset;margin-right: 5px;}


.popup label{
    float: left; 
    color: white;
   font-size: 20px;
    padding-left: 10px;


}


.dialog1{
    position: absolute;
    top: 0;
    z-index: 5;
    text-align: center;
    background-color: #e3d0c881;
}

.popup1{
    position: absolute;
    width: 300px;
    
    margin-top: 20vh;
   padding-bottom: 20px;
    margin-left: calc(50% - 150px);
    margin-right: 5%;
    background-color: #506485;

}
